<h1>数据库比较结果
  <a (click)="exit()">[退出]</a>
</h1>
<div nz-row>
  <div nz-col nzSpan="4" class="side">
    <div class="header side_header">更新到数据库1</div>
    <div class="side_content"></div>
  </div>
  <div nz-col nzSpan="16">
    <div nz-row class="header">
      <div nz-col nzSpan="12" class="header_left">
        <div>数据库1</div>
        <div>{{host1}}({{name1}})</div>
      </div>
      <div nz-col nzSpan="12">
        <div>数据库2</div>
        <div>{{host2}}({{name2}})</div>
      </div>
    </div>
    <div class="center_content">
      <app-diff-item></app-diff-item>
    </div>
  </div>
  <div nz-col nzSpan="4" class="side">
    <div class="header side_header">更新到数据库2</div>
    <div class="side_content">
      <nz-spin [nzSpinning]="isSpinning">
      </nz-spin>
    </div>
  </div>
</div>
