h1 {
  background-color: #ADADAD;
  color: aliceblue;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 5px;
  font-weight: bold;
  margin-bottom: 0px;
}

h1 a {
  font-size: 12px;
  margin-left: 10px;
  color: aliceblue;
}

.side {
  border-left: 1px solid rgb(232, 232, 232);
  border-right: 1px solid rgb(232, 232, 232);
}

.header {
  background-color: #E0E0E0;
  border-bottom:1px solid rgb(232, 232, 232);
  text-align: center;
  font-weight: bold;
  height: 43px;
}

.header_left {
  border-right:1px solid #E0E0E0;
  background-color: #EDEDED;
}

.header_right {
  background-color: #EDEDED;
}

.side_header {
  padding-top: 10px;
  padding-bottom:10px;
}

.side_content{
  background-color: rgb(241, 241, 241) !important;
  height: calc(~"100vh - 98px");
  overflow:auto;
}

.center_content {
  height: calc(~"100vh - 98px");
  overflow-y: auto;
}

.db {
  color: rgb(160, 160, 160);
  font-weight: normal;
}
