
<h1>数据库差异比较</h1>
<div style="padding:16px">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <h2 style="color:grey;font-weight:bold;text-align: center;">数据库1</h2>
      <nz-card style="width:100%;min-height:453px">
          <app-connection-form [db]="'left'" ></app-connection-form>
      </nz-card>
    </div>
    <div nz-col nzSpan="12">
      <h2 style="color:grey;font-weight:bold;text-align: center;">数据库2</h2>
      <nz-card style="width:100%;min-height:453px">
          <app-connection-form [db]="'right'" ></app-connection-form>
      </nz-card>
    </div>
  </div>
</div>

<div style="text-align:center;">
    <button nz-button nzSize="large" (click)="doConnection()" style="margin-right:10px;">连接数据库</button>
    <button nz-button nzType="primary" nzSize="large" (click)="doNext()">下一步</button>
    <label nz-checkbox [(ngModel)]="keyCompareNeed" style="margin-left:10px">包括key</label>
    <label nz-checkbox [(ngModel)]="functionCompareNeed">包括存储过程和Function</label>
</div>


