 <form nz-form [formGroup]="connectionForm" class="connection-form">

       <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dbType">数据库类型</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select formControlName="dbType" id="dbType" >
              <nz-option nzValue="mysql" nzLabel="MySql"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="host">服务器</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入数据库服务器地址">
          <input nz-input formControlName="host" id="host" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="port">端口</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入数据库端口">
          <input nz-input formControlName="port" id="port" />
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="db">数据库名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入数据库名">
          <input nz-input formControlName="database" id="db" />
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="user">用户名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入数据库用户名">
          <input nz-input formControlName="user" id="user" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入数据库密码">
          <input type="password" nz-input  formControlName="password" id="password" />
        </nz-form-control>
      </nz-form-item>

      <div style="text-align:center;color:green" *ngIf="status==='connecting'" >状态：数据库连接中</div>
      <div style="text-align:center;color:red" *ngIf="status==='error'" >状态：数据库连接失败</div>
    </form>
